<div
  class="offcanvas-md offcanvas-end bg-body-tertiary h-100"
  tabindex="-1"
  id="sidebarMenu"
  aria-labelledby="sidebarMenuLabel"
>
  <ul class="nav flex-column mb col-md-3 col-lg-2 me=0 px-1 py-2">
    <li class="nav-item">
      <a
        class="nav-link d-flex align-items-center gap-2 active"
        aria-current="page"
        href="#"
      >
        <i class="bi bi-house-fill me-2" width="16" height="  16"> </i>
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <i class="bi bi-file-earmark me-2" width="16" height="16"></i>
        Orders
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <i class="bi bi-cart me-2" width="16" height="16"> </i>
        Products
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <i class="bi bi-people me-2" width="16" height="16"> </i>
        Customers
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <i class="bi bi-graph-up me-2" width="16" height="16"> </i>
        Reports
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <i class="bi bi-puzzle me-2" width="16" height="16"> </i>
        Integrations
      </a>
    </li>
  </ul>

  <h6 class="sidebar-heading px-3 py-2 mb-1 text-body-secondary text-uppercase">
    <span>Saved reports</span>
  </h6>
  <ul class="nav flex-column mb-auto px-1 me-0 py-2">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <i class="bi bi-file-earmark-text me-2" width="16" height="16"> </i>
        Current month
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <i class="bi bi-file-earmark-text me-2" width="16" height="16"> </i>
        Last quarter
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <i class="bi bi-file-earmark-text me-2" width="16" height="16"> </i>
        Social engagement
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <i class="bi bi-file-earmark-text me-2" width="16" height="16"> </i>
        Year-end sale
      </a>
    </li>
  </ul>

  <hr class="my-2" />

  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <i class="bi bi-gear-wide-connected me-2" width="16" height="16"> </i>
        Settings
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <i class="bi bi-door-closed me-2" width="16" height="16"> </i>
        Sign out
      </a>
    </li>
  </ul>
</div>
